/* Dashboard Widget */
.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

#powertools h2 {
    margin: 0 0 20px;
    display: inline-block;
}

#powertools .list {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

#powertools .list li {
    margin-bottom: 5px;
    padding: 0;
}


#powertools .list-separator li.border-top,
#powertools .row-separator {
    border-top: 1px dotted #e0e0e0;
    margin-top: 5px;
    padding-top: 5px;
}

#powertools .list-separator li:first,
#powertools .list li:first,
#powertools .list li.first {
    border-top: 0 !important;
}

.cursor-arrow {
    cursor: default;
}

#powertools .btn .icon {
    color: #6C6E8B;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

#powertools .btn:hover .icon {
    color: #32325d;
}

/* PHP Info */
.phpinfo .center {
  max-width: 1200px;
}

.phpinfo .center > table {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.phpinfo .center > table td,
.phpinfo .center > table th {
	padding: 15px;
}

.phpinfo .center > table th {
	font-size: 20px;
}

.phpinfo .h a,
.phpinfo .v a {
	display: inline-block;
	float: left;
	margin-right: 30px;
}

.phpinfo .e { vertical-align: top; }

.phpinfo .v { word-wrap: break-word; }

@media (min-width: 1200px) {
	.phpinfo .v { max-width: 300px; }
}

@media (max-width: 1199px) {
	.phpinfo .center {
  	max-width: 95%;
  	margin: 0 auto;
	}

	.phpinfo .center table { min-height: 100px; }

	.phpinfo .center table,
	.phpinfo .center table tbody,
	.phpinfo .center table td,
	.phpinfo .center table tr,
	.phpinfo .center table th {
  	display: block;
  	width: 73vw;
  	word-break: break-word;
	}
}

@media (max-width: 767px) {
  .phpinfo .center table,
	.phpinfo .center table tbody,
	.phpinfo .center table td,
	.phpinfo .center table tr,
	.phpinfo .center table th {
  	width: 95vw;
	}
}

#logbook .log-picker { display: inline-block; }

#logbook .dossier { margin-top: 0; }
#logbook .dossier td { vertical-align: top; }
#logbook .dossier .level { min-width: 80px; }
#logbook .dossier .context { min-width: 80px; }
#logbook .dossier .date { min-width: 180px; }
#logbook .dossier .text { word-break: break-all; }

#logbook .dossier .expandable { cursor: zoom-in; }
#logbook .dossier .expandable.open { cursor: zoom-out; }

#logbook .stack-trace {
   font-size: 0.9em;
   margin-top: 1em;
   white-space: pre-wrap;
}

#logbook .level-icon::before {
	font-family: entypo;
	font-size: 13px;
}

.btn-group .btn-danger.depressed,
.btn-group .btn-danger:hover {
    background-color: #ac2925;
}
